<table mat-table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let test_suite"> {{test_suite.name}} </td>
    </ng-container>

    <!-- App Id Column -->
    <ng-container matColumnDef="app_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> App ID </th>
        <td mat-cell *matCellDef="let test_suite"> {{test_suite.app_id}} </td>
    </ng-container>

    <!-- App Code Column -->
    <ng-container matColumnDef="app_code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> App Code </th>
        <td mat-cell *matCellDef="let test_suite"> {{test_suite.app_code}} </td>
    </ng-container>

    <!-- Test Suite Column -->
    <ng-container matColumnDef="test_suite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Test Suite </th>
        <td mat-cell *matCellDef="let test_suite"> {{test_suite.test_suite}} </td>
    </ng-container>

    <!-- Operating Systems Column -->
    <ng-container matColumnDef="line_of_service">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Line of Service </th>
        <td mat-cell *matCellDef="let test_suite"> 
            {{ test_suite.line_of_service.name }}
        </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>
            <span class="action-span">
                Run
            </span> 
            <span class="action-span">
                Edit
            </span> 
            <span class="action-span">
                Delete
            </span>
        </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="run(element.id)" color="primary">
                <mat-icon>launch</mat-icon>
            </button>
            <button mat-icon-button (click)="edit(element.id)" color="accent">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="delete(element.id)" color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
<mat-paginator [pageSize]="5"></mat-paginator>