<table mat-table [dataSource]="linesOfService" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let browser"> {{browser.name}} </td>
        </ng-container>
    
        <!-- Actions Column -->
        <ng-container matColumnDef="actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>
                <span class="action-span">
                    Run
                </span> 
                <span class="action-span">
                    Edit
                </span> 
                <span class="action-span">
                    Delete
                </span>
            </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="run(element.id)" color="primary">
                    <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button (click)="edit(element.id)" color="accent">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="delete(element.id)" color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>